In [4]:
import yfinance as yf
import pandas as pd

In [2]:
data = yf.Ticker("^VIX").history(period='6d')

In [16]:
df = pd.DataFrame(data)

In [19]:
df = df.drop(df.index[0])

In [23]:
df = df.drop(labels=['Volume', 'Dividends', 'Stock Splits'], axis=1)

In [24]:
df

                 Open       High        Low      Close
Date
2022-03-16  29.020000  29.799999  26.290001  26.670000
2022-03-17  26.510000  27.469999  25.250000  25.670000
2022-03-18  26.360001  26.820000  23.850000  23.870001
2022-03-21  25.139999  25.360001  22.990000  23.530001
2022-03-22  24.020000  24.020000  22.700001  22.940001

In [25]:
df.to_csv("vix.csv",index=False)